@import './base.css';

a,
.green {
  display: flex;
  text-decoration: none;
  margin-right: 5%;
  margin-left: 5%;
  color: rgb(255, 0, 217);

  transition: 0.4s;
  font-size: 2rem;
  font-weight: 500;
}
body{
    margin: 0 5% 0 5%;
}

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: rgb(255, 0, 217);

  font-size: .875rem;
  font-weight: 1000;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 3%;
  transition: .3s;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}